<a href="https://colab.research.google.com/github/asonty/ngs_highlights/blob/master/ngs_players_on_field.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import requests
import pandas as pd

In [24]:
ngs_headers = {
  "accept": "application/json, text/plain, */*",
  "accept-encoding": "gzip, deflate, br",
  "accept-language": "en-US,en;q=0.9",
  "referer": "https://nextgenstats.nfl.com/live",
  "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_1_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36",
  "x-override-env": "true"
}

### schedules

In [25]:
seasons = [2020, 2021] # 2018 and 2019 would work too, but much less completeness w.r.t. players' nflIds
season_schedule_url = 'https://nextgenstats.nfl.com/api/league/schedule?season={}'
seasons_schedules = [requests.get(season_schedule_url.format(season), headers=ngs_headers).json() for season in seasons]
seasons_schedules = [game for season in seasons_schedules for game in season]

In [26]:
len(seasons_schedules)

591

In [27]:
seasons_schedules[0].keys()

dict_keys(['gameKey', 'gameDate', 'gameId', 'gameTimeEastern', 'gameType', 'homeDisplayName', 'homeNickname', 'homeTeam', 'homeTeamAbbr', 'homeTeamId', 'isoTime', 'networkChannel', 'ngsGame', 'season', 'seasonType', 'site', 'smartId', 'visitorDisplayName', 'visitorNickname', 'visitorTeam', 'visitorTeamAbbr', 'visitorTeamId', 'week', 'weekNameAbbr', 'score', 'validated', 'releasedToClubs'])

In [28]:
df_seasons_games = pd.DataFrame.from_dict(seasons_schedules)[['ngsGame', 'season', 'seasonType', 'gameDate', 'gameId', 'gameType', 'visitorTeamAbbr', 'visitorTeamId', 'homeTeamAbbr', 'homeTeamId']]

In [95]:
df_seasons_games.to_csv('nfl_seasons_games_2020_2021.csv')

In [96]:
df_seasons_games[df_seasons_games['seasonType'] == 'POST'].head(5)

     ngsGame  season seasonType  ... visitorTeamId  homeTeamAbbr homeTeamId
256     True    2020       POST  ...          1050           PIT       3900
257     True    2020       POST  ...          0810            NO       3300
258     True    2020       POST  ...          0325           TEN       2100
259     True    2020       POST  ...          4900           WAS       5110
260     True    2020       POST  ...          2510           SEA       4600

[5 rows x 10 columns]

### players

In [31]:
players_url = 'https://nextgenstats.nfl.com/api/plays/highlight/players'
players = requests.get(players_url, headers=ngs_headers).json()
players = players['players']

In [32]:
len(players)

4591

In [33]:
players[0].keys()

dict_keys(['season', 'seasonType', 'week', 'birthDate', 'collegeConference', 'collegeName', 'currentTeamId', 'displayName', 'draftClub', 'draftNumber', 'entryYear', 'esbId', 'firstName', 'footballName', 'gsisId', 'gsisItId', 'headshot', 'height', 'jerseyNumber', 'lastName', 'position', 'positionGroup', 'rookieYear', 'shortName', 'status', 'statusDescriptionAbbr', 'statusShortDescription', 'suffix', 'teamAbbr', 'weight', 'uniformNumber', 'ngsPosition', 'ngsPositionGroup'])

In [58]:
df_players = pd.DataFrame.from_dict(players)
df_players = df_players.dropna(axis=0, subset=['gsisItId'])
df_players = df_players.drop_duplicates(subset='gsisItId', keep='last')
df_players = df_players[['displayName', 'position', 'positionGroup', 'gsisId', 'gsisItId', 'esbId']]

In [62]:
df_players.head()

         displayName position positionGroup      gsisId  gsisItId      esbId
2   Jonathan Stewart       RB            RB  00-0026153   33094.0  STE770966
3        Eli Manning       QB            QB  00-0022803   28953.0  MAN473170
5   Michael Crabtree       WR            WR  00-0026986   34461.0  CRA111040
8     Jason McCourty       CB            DB  00-0027136   34654.0  MCC600480
10     James Develin       FB            RB  00-0027925   36473.0  DEV145356

In [112]:
df_players.groupby(['position']).size()

position
CB     103
DB       2
DE      90
DT      44
FB       9
FS      43
G        1
HB       1
ILB     38
K        2
LB       4
MLB      9
NT      13
OLB     81
OT       1
P        3
QB      86
RB     122
S        1
SS      38
T        9
TE      94
WR     230
dtype: int64

### games/plays

only going to scrape for a few games here, but should be able to scrape for all games

In [97]:
game_url = 'https://nextgenstats.nfl.com/api/live/plays/playlist/game?gameId={}'
games_plays = []
for idx, row in df_seasons_games[df_seasons_games['seasonType'] == 'POST'].head(5).iterrows():
  game_plays = requests.get(game_url.format(row['gameId']), headers=ngs_headers).json()
  game_plays = game_plays['plays']
  games_plays.append(game_plays)
games_plays = [play for game in games_plays for play in game]
games_plays = [play for play in games_plays if len(play['nflIds']) > 0]

In [98]:
df_games_plays = pd.json_normalize(games_plays)

In [105]:
df_games_plays.head(3)

       gameId  playId  ...  defense.personnel  defense.numberOfPassRushers
0  2021011002      40  ...                NaN                          NaN
1  2021011002      62  ...   4 DL, 2 LB, 5 DB                          NaN
2  2021011002      89  ...                NaN                          NaN

[3 rows x 32 columns]

this df contains a few interesting columns that the public may not already have access to:
 - `offense.offenseFormation`
 - `offense.personnel`
 - `defense.defendersInTheBox`
 - `defense.personnel`
 - `defense.numberOfPassRushers`
 - `nflIds` (we'll get to this)

### players on the field for a play

In [113]:
df_games_plays_players = df_games_plays[['gameId', 'playId', 'nflIds']].explode('nflIds').merge(
    right=df_players,
    how='left',
    left_on='nflIds',
    right_on='gsisItId'
)

In [116]:
df_games_plays[
  (df_games_plays['gameId'] == 2021010902) & 
  (df_games_plays['possessionTeam'] == 'WAS') & 
  (df_games_plays['isBigPlay'] == True) &
  (df_games_plays['isScoring'] == True) &
  (df_games_plays['playType'] == 'play_type_pass')
]

         gameId  playId  ...  defense.personnel  defense.numberOfPassRushers
647  2021010902    3912  ...   2 DL, 4 LB, 5 DB                          4.0

[1 rows x 32 columns]

In [117]:
df_games_plays_players[(df_games_plays_players['gameId'] == 2021010902) & (df_games_plays_players['playId'] == 3912)]

           gameId  playId nflIds  ...      gsisId gsisItId      esbId
14234  2021010902    3912  46186  ...         NaN      NaN        NaN
14235  2021010902    3912  42348  ...         NaN      NaN        NaN
14236  2021010902    3912  41295  ...         NaN      NaN        NaN
14237  2021010902    3912  46132  ...  00-0034778  46132.0  DAV220184
14238  2021010902    3912  52453  ...  00-0036411  52453.0  WIN159348
14239  2021010902    3912  41563  ...         NaN      NaN        NaN
14240  2021010902    3912  41915  ...  00-0031101  41915.0  BAR645290
14241  2021010902    3912  46362  ...  00-0034104  46362.0  SIM667389
14242  2021010902    3912  47822  ...         NaN      NaN        NaN
14243  2021010902    3912  35454  ...  00-0027867  35454.0  PIE587019
14244  2021010902    3912  52602  ...         NaN      NaN        NaN
14245  2021010902    3912  41349  ...  00-0031260  41349.0  THO296280
14246  2021010902    3912  45012  ...         NaN      NaN        NaN
14247  2021010902    3912  43484  ...         NaN      NaN        NaN
14248  2021010902    3912  39993  ...  00-0030382  39993.0  MIN670026
14249  2021010902    3912  35441  ...  00-0027855  35441.0  SUH046142
14250  2021010902    3912  38588  ...         NaN      NaN        NaN
14251  2021010902    3912  47877  ...  00-0035699  47877.0  DEA114360
14252  2021010902    3912  48051  ...  00-0034928  48051.0  SIM809106
14253  2021010902    3912  47859  ...  00-0035659  47859.0  MCL278328
14254  2021010902    3912  42831  ...  00-0031800  42831.0  HEI610185
14255  2021010902    3912  43722  ...  00-0032602  43722.0  MCK692580

[22 rows x 9 columns]